/* Europe stylesheet */

/* Set all padding and margin to zero */
* {
  padding: 0px;
  margin: 0px;
}
/*Set the background colour */

body {
  background-color: rgb(127, 127, 127);
  color: rgb(255, 255, 255)
}

/* Set h1 heading format*/
h1  {
  color: rgb(50, 50, 50);
  font-family: Arial, Calibri, sans-serif;
  margin-top: 35px 0 20px 0;
}
p {
  font-family: Arial, sans-serif;
  margin-bottom: 18px;
  line-height: 25px;
}

/* Formating Links */
a {
  color: rgb(50, 50, 255);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
